// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  max-width: 960px;
  margin: 0px auto;
  background-color: #072540;
  color: #93C2DB;
}

a {
  color: #FF8AE2;
}

img.github-avatar {
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.participants th {
  text-align: left;
}

.participant-name {
  display: flex;
  min-height: 30px;
  align-items: center;
}

td {
  line-height: 30px;
  vertical-align: top;
}
