<!DOCTYPE html>
<html>
  <head>
    <title>HacktoberfestDashboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%# javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>

    <footer>
      <hr/>
      <p>
        Made by <a href="https://hugopeixoto.net">Hugo Peixoto</a>.
        <a href="https://github.com/hugopeixoto/hacktoberfest-dashboard">Get the source</a>.
      </p>
    </footer>
  </body>
</html>
